{% extends 'fish_web_service/header-footer.html'%}

{% block content %}
{% load static %}
<link rel='stylesheet' href='{% static "fish_web_service/css/master-classes.css" %}' >
        <div class = 'header'>
            <div class = 'container'>
                    <div class = 'header-down'>
                        <div class = 'header-title'>
                            Мастер классы
                        </div>
                    </div>
            </div>
          </div>

        <div class="icons">

            <div class ='icons1'>

            <div class="icon">
                <a href="#">
                <img src="{% static 'fish_web_service/images/master_classes/paper.png' %}">
            </a>
                <p>Документы</p>
            </div>

            <div class="icon">
                <a href="#">
                <img src="{% static 'fish_web_service/images/master_classes/comp.png' %}">
            </a>
                <p>Программирование</p>
            </div>
        </div>

        <div class = 'icons2'>

            <div class="icon">
                <a href="#">
                <img src="{% static 'fish_web_service/images/master_classes/mk.png' %}">
            </a>
                <p>Живопись</p>
            </div>

            <div class="icon">
                <a href='{% url "fish_web_service:origami" %}'>
                <img src="{% static 'fish_web_service/images/master_classes/lotus.png' %}">
            </a>
                <p>Оригами</p>
            </div>
        </div>
        </div>
{% endblock %}
