{% extends 'fish_web_service/header-footer.html' %}

{% block content %}
{% load static %}
<link rel='stylesheet' href='{% static "fish_web_service/css/origami.css" %}' >
<div class="title-div">
    <div class="title-down">
        <div class="title">Оригами</div>
    </div>
</div>

<div class="icons">
    <div class="icons1">
        <div class="icon">
            <img src="{% static 'fish_web_service/images/origami/brain.png' %}" alt="Средняя сложность">
            <p>Средняя сложность</p>
        </div>
    </div>
    <div class="icons2">
        <div class="icon">
            <img src="{% static 'fish_web_service/images/origami/sand-watches.png' %}" alt="10 минут">
            <p>10 минут</p>
        </div>
    </div>
</div>

<div class="block-1">
    <div class="text-block">
        <p>1. Возьмите квадрат цветной бумаги и сложите его пополам, соединив противоположные углы, чтобы получился треугольник.</p>
        <p>2. Загните стороны в центр, как показано на изображении.</p>
        <p>3. Соедините нижний кончик с верхним, затем загладьте сгиб.</p>
        <p>4. Расправьте и сделайте разрез от угла до сгиба.</p>
    </div>
    <div class="image-block">
        <img src="{% static 'fish_web_service/images/origami/origami1.jpg' %}" alt="Оригами шаг 1">
    </div>
</div>

<div class="block-2">
    <div class="image-block-2">
        <img src="{% static 'fish_web_service/images/origami/origami2.jpg' %}" alt="Оригами шаг 2">
    </div>
    <div class="text-block-2">
        <p>5. Переверните заготовку и загните нижний уголок.</p>
        <p>6. Проверьте правильность сложения: расправьте заготовку и найдите 2 параллельных сгиба в центре, затем загните уголок обратно.</p>
        <p>7. Сложите деталь пополам, ориентируясь по поперечному сгибу.</p>
        <p>8. Подцепите пальцем хвостик и распрямите его наружу, затем загните боковушки, сложив хвост пополам.</p>
    </div>
</div>

<div class="block-3">
    <div class="text-block-3">
        <p>9. Отогните в сторону одну часть хвостика и достаньте до центра разрезанный угол.</p>
        <p>10. Переверните заготовку и нарисуйте лицо акуле.</p>
        <p class="praise">Ты молодец!!!</p>
    </div>
    <div class="image-block-3">
        <img src="{% static 'fish_web_service/images/origami/origami3.jpg' %}" alt="Оригами шаг 3">
    </div>
</div>
{% endblock %}
