{% extends 'fish_web_service/header-footer.html'%}

{% block content %}
<link rel='stylesheet' href='../../static/fish_web_service/css/paint.css' >
        <div class = 'header'>
            <div class = 'container'>
                    <div class = 'header-down'>
                        <div class = 'header-title'>ОРИГАМИ</div>
                    </div>
            </div>  
        </div>

        

        <div class="icons">
          <div class ='icons1'>
          <div class="icon">
              <a href="@" > 
              <img src="../../static/fish_web_service/images/paint/brain.png"> 
          </a>
              <p> Средняя сложность</p> 
          </div> 
      </div>
      <div class = 'icons2'>
          <div class="icon"> 
              <a href = '@'>
              <img src="../../static/fish_web_service/images/paint/pesok.png"> 
          </a>
              <p>10 минут</p> 
          </div> 
      </div>

      </div>

      <div class="block-1">
          <div class="text-block">
            <!-- Здесь будет ваш текст -->
            <p>1.Возьмите квадрат цветной бумаги и сложите его пополам, соединив противоположные углы, чтобы получился треугольник.</p>
            <p>2. Загните стороны в центр, как показано на изображении.</p>
            <p>3. Соедините нижний кончик с верхним, затем загладьте сгиб.</p>
            <p>4. Расправьте и сделайте разрез от угла до сгиба.</p>
          </div>
          <div class="image-block">
            <!-- Здесь будет ваша фотография -->
            <img src="../../static/fish_web_service/images/paint/paint1.jpg" alt="Описание изображения">
          </div>
        </div>

        <div class="block-2">
          <div class="image-block-2">
            <!-- Здесь будет ваша фотография -->
            <img src="../../static/fish_web_service/images/paint/paint2.jpg" alt="Описание изображения">
          </div>
          <div class="text-block-2">
              <p>5. Переверните заготовку и загните нижний уголок.</p>
              <p>6. Проверьте правильность сложения: расправьте заготовку и найдите 2 параллельных сгиба в центре, затем загните уголок обратно.</p>
              <p>7. Сложите деталь пополам, ориентируясь по поперечному сгибу.</p>
              <p>8. Подцепите пальцем хвостик и распрямите его наружу, затем загните боковушки, сложив хвост пополам.</p>
          </div>
        </div>

        <div class="block-3">
          <div class="text-block-3">
            <!-- Здесь будет ваш текст -->
            <p>9. Отогните в сторону одну часть хвостика и достаньте до центра разрезанный угол.</p>
            <p>10. Переверните заготовку и нарисуйте лицо акуле.</p>
            <p class="praise">Ты молодец!!!</p> <!-- Надпись "ты молодец" -->
          </div>
          <div class="image-block-3">
            <!-- Здесь будет ваша фотография -->
            <img src="../../static/fish_web_service/images/paint/paint3.jpg" alt="Описание изображения">
          </div>
        </div>
{% endblock %}
