{% extends 'fish_web_service/header-footer.html'%}

{% block content %}
{% load static %}
<link rel='stylesheet' href='{% static "fish_web_service/css/fish-template-1.css" %}'
      xmlns="http://www.w3.org/1999/html">

        <div class = 'header'>
          <div class = 'container'>
                  <div class = 'header-down'>
                      <div class = 'header-title'>{{ name }}</div>
                  </div>
          </div>  
        </div>

        <div class="gallery">
            {% with str_id=id|stringformat:'i' %}
            <img src="{% static 'fish_web_service/images/fish-template/'|add:str_id|add:'/1.jpg' %}" alt="Верхнее изображение карпа" class="top-image">
            <div class="text-content">
              <p>
                <b>Тип:</b> {{ type }}<br><br>
                <b>Место обитания:</b> {{ habitat }}<br><br>
                <b>Условия жизни:</b> {{ requirements }}<br><br>
                <b>Питание:</b> {{ food }}<br><br>
              </p>
            </div>
            <div class = "text-content">
                <p> <b>Описание</b><br><br>
                  {{ description }}
                </p>
            </div>
            {% endwith %}
          </div>
{% endblock %}