<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ fish.name }}</title>
</head>
<body>
    <h1>{{ fish.name }}</h1>
    <p>Type: {{ fish.type }}</p>
    <p>Description: {{ fish.description }}</p>
    <p>Habitat: {{ fish.habitat }}</p>
    <p>Requirements: {{ fish.requirements }}</p>
    <p>Food: {{ fish.food }}</p>
    <p>Compatibility: {{ fish.compatibility }}</p>
    <p>Photos Count: {{ fish.photos_count }}</p>
    <div>
        {% for image in fish.image_paths %}
            <img src="{% static 'fish_web_service/images/fish-template/' %}{{ fish.id }}/{{ image }}" alt="Image {{ forloop.counter }}">
        {% endfor %}
    </div>
    <button onclick="window.location.href='{% url 'fish_web_service:main_page' %}'">Back to main page</button>
</body>
</html>
