body{
    margin: 0;
}

.container{
    margin: 0px 0px;
    
}
.nav-container{
    margin: 0px 166px;
}
.header {
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/master_classes/water.png');
  }

  .header:after  {
    content: '';
    position: absolute;
    top: 1;
    right: 0;
    bottom: 1;
    left: 0;
    background: rgba(0, 0, 0, 0.535); /* Затемнение фона */
    z-index: 1;
  }

.found_fishes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fish_card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    width: 150px;
}

.fish_card:hover {
    transform: scale(1.05);
}

.fish_name {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.fish_link{
    text-decoration: none;
}

.header-down{
    position: relative;

}

.header-title{
    color: white;
    font-size: 120px;
    font-weight: 400;
    width:100%;
    top:20%;
    text-align:center;
    position: absolute;
    margin-top: 300px;
}


.header-suptitle{
    color:white;
    font-size: 18px;
    

}

.icons { 
    display: flex; 
    justify-content: space-evenly; 
    padding: 50px 0; 
} 
.icon { 
    text-align: center; 
    size: 20px;
}

.icon img{
    width: 100px;
    height: auto;
}
.icons1{
     
}
.icons2{

}

.footer {
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
    background-color: rgba(74, 164, 187, 0.944);
  }
  .footer a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
  }
