body{
    margin: 0;
}

.container{
    margin: 0px 0px;
    
}
.nav-container{
    margin: 0px 166px;
}

.title-div{
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-down{
    position: relative;
}

.title{
    position:absolute;
    width:100%;
    top:20%;
    text-align:center;
    color: black;
    font-size: 120px;
    font-weight: 400;

    margin-top: 150px;
}


.header-suptitle{
    color:white;
    font-size: 18px;
    

}


.icons {
    background-color: rgba(74, 164, 187, 0.944);
    display: flex; 
    justify-content: space-evenly; 
    padding: 60px 0; 
} 
.icon { 
    text-align: center; 
    size: 30px;
}

.icon img{
    width: 100px;
    height: auto;
}

.block-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
  }
  .text-block {
    flex: 1;
    margin-right: 20px;
  }
  .image-block {
    flex: 1;
    text-align: center;
  }
img {
    max-width: 100%;
    height: auto;
  }

.block-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
  }
.text-block-2 {
    flex: 1;
    margin-left: 20px;
  }
.image-block-2{
    flex: 1;
    text-align: center;
  }

.block-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
  }
 .text-block-3 {
    flex: 1;
    margin-right: 20px;
  }
.image-block-3 {
    flex: 1;
    text-align: center;
  }

.praise {
    font-size: 24px; /* Размер шрифта для надписи */
    color: black; /* Цвет надписи */
    margin-top: 20px; /* Отступ сверху */
    text-align: center;
    font-weight: bold;

  }

.footer {
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
    background-color: rgba(74, 164, 187, 0.944);
  }
.footer a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
  }

