body {
    margin: 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

.nav-container {
    margin: 0px 166px;
}

.title-div {
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-down {
    position: relative;
}

.title {
    position: absolute;
    width: 100%;
    top: 20%;
    text-align: center;
    color: black;
    font-size: 120px;
    font-weight: 400;
    margin-top: 200px;
}

.header-suptitle {
    color: white;
    font-size: 18px;
}

.fish_link {
    text-decoration: none;
}

.fishes-btn {
    padding: 15px 32px;
    margin: 0 auto;
    display: block;
    border-radius: 12px;
    background-color: #e7e7e7;
    color: black;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.fishes-btn:hover {
    background-color: #555555; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.found_fishes {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    flex-wrap: wrap;
    padding: 20px;
}

.search-container {
    border-radius: 5%;
    padding: 20px;
    height: 20vh;
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}

.search-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    flex-direction: column;
}

.search-box input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-box button {
    padding: 10px 20px;
    background-color: #0288d1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #0277bd;
}

.search-box select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.fish_card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    width: 150px;
}

.fish_card:hover {
    transform: scale(1.05);
}

.fish_name {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.footer {
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
    background-color: rgba(74, 164, 187, 0.944);
}

.footer a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}
